// index

body{
    background-color: rgb(224, 218, 218);
}

header{
    color: white;
    margin: auto;
    padding-top: 5px;
}
.navbar{
    background: linear-gradient(45deg, #084177, #090909e0);
    transition: 0.5s;
}
.nav{
    
    color: white;
}
.titulos{
    padding-top: 30px;
}
.por{
    text-align: center;
}
.navbar-brand{
    padding-top: 5px;
    padding-bottom: 5px;
}
.imgNav{
    width: 250px;
}
.navBar{
    width: 100%;
}
.nav-item{
    padding-right: 20px;
    color: white;
}
.section01{
    padding-top: 5px;
    text-align: center;
}
.imgSection01{
    width: 80%;
    height: 650px;
}
.monteroraima{
    margin-top: 40px;
}
.section02{
    background-color: white;
    width: 70%;
    margin: auto;
    position: relative;
    margin-top: -100px;
    margin-left: auto;
}
footer{
    background: linear-gradient(45deg, #090909c7, #084177);
    transition: 0.5s;
    color: white;
    width: 100%;
}
.logoInstagram{
    width: 30px;
    height: 30px;
    margin-right: 10px;
}
.footerColum1{
    padding-bottom: 3px;
    text-align: center;
    margin-top: 25px;
}
.footerColumn2{
    text-align: center;
    margin-top: 25px;
    margin-bottom: 15px;
}
.mb-5{
    margin-bottom: 50px;
}
.aFooter{
    text-decoration: none;
    color: black;
    font-size: 1rem;
}
.logoFace{
    width: 30px;
    height: 30px;
    margin-right: 10px;
}
.logoTwitter{
    width: 30px;
    height: 30px;
}
.h4Footer{
    font-size: 25px;
    margin-top: 10px;
}

.imgSec{
    width: 648px;
    height: 400px;
}
.pSection{
    text-align: justify;
}
.h2Section , .h4Section{
    text-align: center;
}


// Destinos

.aSpan{
    text-decoration: none;
    color: black;
    font-size: 18px;
    padding-left: 20px;
}
.proxPag{
    text-align: end;
}
.imgiconSetaDireita{
    width: 45px;
    height: 30px;
    padding-left: 15px;
    margin-bottom: 15px;
}
.navBar:hover{
    -webkit-text-stroke: 1px black; 
        transition-timing-function: ease-in-out;
}





@media (max-width: 1900px){
    .imgSec{
        width: 100%;
    }
}

@media (max-width: 1200px){
    .imgSec{
        width: 100%;
    }
    .imgSection01{
        height: 400px;
    }
    .footer{
        height: 100%;
    }
    .footerColum1{
        margin-top: 25px ;
        margin-bottom: 0px;
        padding-bottom: 0px;
    }
    .columnFooter{
        height: 80%;
    }
    .monterOlimpo, .matterhorn, .montblanc, .grandteton, .monteroraima{
        flex-direction: column-reverse;
    }
}

@media (max-width: 576px){
    .section02{
        width: 100%;
        padding-left: 3px;
    }
    .footerColumn2{
        margin-top: 10px;
    }
    .imgSec{
        height: 300px;
    }
    .imgSection01{
        width: 100%;
        height: 350px;
    }
}

